$font-main: 'Arial', sans-serif;
$bg-color: #f6f9fc;
$link-color: hsla(160, 100%, 37%, 1);
$link-hover-bg: hsla(160, 100%, 37%, 0.2);
$navbar-bg: var(--color-background-soft);
$link-hover: #555;
$box-shadow-color: rgba(0, 0, 0, 0.09);

$bg-color: #f6f9fc;
$link-hover: #555;

// Breakpoints
$breakpoint-tablet: 768px; // Typical breakpoint for tablets
$breakpoint-phone: 480px; // Typical breakpoint for phones

$bg-color: #f6f9fc;
$link-hover: #555;

$bg-color: #f6f9fc;
$link-hover: #555;
$socials-color: #fff;
$main-color: var(--color-background-soft);
